* {
  box-sizing: border-box;
}

body {
  background-color: #27ae60;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.box {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.box h3 {
  margin-top: 0;
}

.box p {
  margin: 2rem;
}

.box button {
  background-color: #1e8148;
  color: white;
  border: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
}
